<script>
  import {
    sortBy,
    reverse,
    cloneDeep,
  } from 'lodash';
  import styles from '../styles.js';
  import initialState from '../initialState.js';
  import {
    tricks,
    trickGroups,
    skatespots,
    settings,
    version,
    flashMessages,
  } from '../stores.js';
  import dateTimeToIsoStr from '../helpers/dateTimeToIsoStr.js';
  import Trick from '../models/Trick.js';
  import TrickGroup from '../models/TrickGroup.js';
  import Skatespot from '../models/Skatespot.js';
  import FlashMessage from '../models/FlashMessage.js';
  import migrate from '../migrate.js';

  let exportTricksFormat = 'text';

  function exportBackup() {
    const backup = {
      version: $version,
      settings: $settings,
      tricks: $tricks,
      trickGroups: $trickGroups,
      skatespots: $skatespots,
    };

    const now = new Date();
    const dateString = dateTimeToIsoStr(now).replace(' ', '_').replace(/:/g, '-');

    createDownload(JSON.stringify(backup, null, 2), `skatetricks_progression_backup_${dateString}.json`, {
      type: 'application/json',
    });
  }

  function createDownload(data, filename, options) {
    const c = document.createElement('a');
    c.download = filename;

    const t = new Blob([data], options);
    c.href = window.URL.createObjectURL(t);
    c.click();
  }

  function handleExportBackupButton() {
    exportBackup();
  }

  async function handleImportBackupButton() {
    if (!hasBackupFileSelected()) {
      return;
    }

    if (!confirm('Restore this backup? This will erase all current data!')) {
      return;
    }

    const fileInput = document.getElementById('restore-backup-file');
    const text = await fileInput.files[0].text();
    const backup = JSON.parse(text);

    $version = backup.version || initialState.version;
    $tricks = (backup.tricks || cloneDeep(initialState.tricks)).map(Trick);
    $trickGroups = (backup.trickGroups || cloneDeep(initialState.trickGroups)).map(TrickGroup);
    $skatespots = (backup.skatespots || cloneDeep(initialState.skatespots)).map(Skatespot);
    $settings = backup.settings || cloneDeep(initialState.settings);

    fileInput.value = null;

    migrate({ silent: true });

    $flashMessages = $flashMessages.concat(FlashMessage({
      type: 'success',
      body: '<p>Backup was restored.</p>',
    }));
  }

  function hasBackupFileSelected() {
    const fileInput = document.getElementById('restore-backup-file');
    if (!fileInput) {
      return false;
    }
    return fileInput.files.length === 1;
  }

  function handleExportTricksButton() {
    const _tricks = reverse(sortBy($tricks, ['sortOrder']));
    let data = '';
    let ext = '';
    let type = '';

    switch(exportTricksFormat) {
      case 'text': {
        ext = 'txt';
        type = 'text/plain';
        data = _tricks.map(trick => {
          return trick.asText();
        }).join('\n\n');
        break;
      }
      case 'html': {
        ext = 'html';
        type = 'text/html';
        data = _tricks.map(trick => {
          return trick.asHtml();
        }).join('\n\n');
        break;
      }
      case 'json': {
        ext = 'json';
        type = 'application/json';
        data = JSON.stringify(_tricks.map(trick => {
          return trick.asJson();
        }), null, 2);
        break;
      }
    }

    const now = new Date();
    const dateString = dateTimeToIsoStr(now).replace(' ', '_').replace(/:/g, '-');

    createDownload(data, `skateboard_progression_tricks_${dateString}.${ext}`, {
      type: type,
    });
  }
</script>

<h2 class="{styles.h2} pb-4 border-b border-gray-300 mb-8">
  Settings
</h2>

<section class="pb-4 border-b border-300 mb-8">
  <h3 class="{styles.h3} mb-8">
    Backup
  </h3>

  <div class="mb-16">
    <button
      class="{styles.buttonSecondary}"
      on:click={handleExportBackupButton}
    >
      Create backup
    </button>
  </div>

  <div class="mb-4">
    <input
      id="restore-backup-file"
      type="file"
      acccept=".json"
      class="mr-4 mb-4"
    >
    <button
      class="{styles.buttonSecondary}"
      on:click={handleImportBackupButton}
    >
      Restore backup
    </button>
  </div>
</section>

<h3 class="{styles.h3} mb-8">
  Export my tricks
</h3>

<div class="flex items-center mb-4">
  <label
    class="{styles.label} mr-2 w-20"
    for="export-tricks-format"
  >
    Export as
  </label>
  <select
    id="export-tricks-format"
    class="{styles.input}"
    bind:value={exportTricksFormat}
  >
    <option value="text">Text</option>
    <option value="html">HTML</option>
    <option value="json">JSON</option>
  </select>
</div>
<button
  class="{styles.buttonSecondary}"
  on:click={handleExportTricksButton}
>
  Export
</button>
