<script>
  import { onMount } from 'svelte';
  import {
    find,
    findIndex
  } from 'lodash';
  import { v4 } from 'uuid';
  import { skatespots } from '../stores.js';
  import SkatespotModel from '../models/Skatespot.js';
  import Skatespot from '../components/Skatespot.svelte';
  import styles from '../styles.js';

  let isAddingSkatespot = false;
  let isEditingSkatespot = false;
  let editingSkatespot = null;
  let newSkatespot = null;
  let locationMarker = null;
  let skatespotMarkers = [];
  let map;
  const locationMarkerIcon = L.icon({
    iconUrl: 'images/location_map_marker.svg',
    iconSize: [24, 33],
    iconAnchor: [12, 33],
    popupAnchor: [0, -40],
    shadowUrl: 'vendor/leaflet/images/marker-shadow.png',
    shadowSize: [41, 41],
    shadowAnchor: [12, 41],
  });
  const skatespotMarkerIcon = L.icon({
    iconUrl: 'images/skatespot_map_marker.svg',
    iconSize: [24, 33],
    iconAnchor: [12, 33],
    popupAnchor: [0, -40],
    shadowUrl: 'vendor/leaflet/images/marker-shadow.png',
    shadowSize: [41, 41],
    shadowAnchor: [12, 41],
  });
  const editingSkatespotMarkerIcon = L.icon({
    iconUrl: 'images/editing_skatespot_map_marker.svg',
    iconSize: [24 * 1.25, 33 * 1.25],
    iconAnchor: [12 * 1.25, 33 * 1.25],
    popupAnchor: [0, -40 * 1.25],
    shadowUrl: 'vendor/leaflet/images/marker-shadow.png',
    shadowSize: [41 * 1.25, 41 * 1.25] * 1.25,
    shadowAnchor: [12 * 1.25, 41 * 1.25],
  });

  onMount(() => {
    map = L.map('skatespots-map').setView([0, 0], 12);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>',
      subdomains: ['a','b','c'],
    }).addTo(map);

    const autocomplete = new Autocomplete('search-field', {
      clearButton: false,
      onSearch: ({ currentValue }) => {
        const bounds = map.getBounds();
        bounds.pad(2);

        const api = `https://nominatim.openstreetmap.org/search?format=geojson&limit=5&q=${encodeURI(currentValue)}&viewbox=${bounds.toBBoxString()}`;

        return new Promise((resolve) => {
          fetch(api)
            .then((response) => response.json())
            .then((data) => {
              resolve(data.features);
            })
            .catch((error) => {
              console.error(error);
            });
        });
      },
      onResults: ({ currentValue, matches, template }) => {
        const regex = new RegExp(currentValue, "gi");

        // if the result returns 0 we
        // show the no results element
        return matches === 0
          ? template
          : matches
              .map((element) => {
                return `
              <li class="loupe">
                <p>
                  ${element.properties.display_name.replace(
                    regex,
                    (str) => `<b>${str}</b>`
                  )}
                </p>
              </li>`;
              })
              .join('');
      },
      onSubmit: ({ object }) => {
        const cord = object.geometry.coordinates;

        placeLocationMarker(cord[1], cord[0]);
        openLocationMarkerPopup();

        // sets the view of the map
        map.setView([cord[1], cord[0]], 12);
      },

      // get index and data from li element after
      // hovering over li with the mouse or using
      // arrow keys ↓ | ↑
      onSelectedItem: ({ index, element, object }) => {
        console.log("onSelectedItem:", index, element, object);
      },

      // the method presents no results element
      noResults: ({ currentValue, template }) =>
        template(`<li>No results found: "${currentValue}"</li>`),
    });

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        map.setView([position.coords.latitude, position.coords.longitude], 12);
      });
    }

    map.on('click', handleMapClick);

    updateSkatespotMarkers();
  });

  function placeLocationMarker(lat, lng) {
    if (!locationMarker) {
      // custom id for marker
      const customId = v4();

      // create marker and add to map
      locationMarker = L.marker([lat, lng], {
        id: v4(),
        icon: locationMarkerIcon,
        draggable: true,
        autoPan: true,
      })
      .addTo(map)
      .bindPopup(renderLocationMarkerPopup());
    } else {
      locationMarker.setLatLng([lat, lng]);
    }
  }

  function openLocationMarkerPopup() {
    if (locationMarker) {
      locationMarker.openPopup();
    }
  }

  function closeLocationMarkerPopup() {
    if (locationMarker) {
      locationMarker.closePopup();
    }
  }

  function clearLocationMarker()
  {
    if (locationMarker) {
      map.removeLayer(locationMarker);
      locationMarker = null;
    }
  }

  function renderLocationMarkerPopup() {
    return `
    <button
      onclick="createNewSkatespotAtMarker()"
      class="${styles.buttonPrimary}"
    >
      <i class="fas fa-plus mr-4"></i>
      <span>Add skatespot here</span>
    </button>
    `;
  }

  function renderSkatespotMarkerPopup(skatespot) {
    return `<div class="w-64">
      <h3 class="${styles.h3}">
        ${skatespot.title}
      </h3>
      <p class="${styles.prose} whitespace-pre-line mb-2">${skatespot.description.trim()}</p>
      <button
        onclick="editSkatespot('${skatespot.id}'); return false;"
        class="${styles.buttonGrayIcon} pl-0 mr-2"
      >
        <i class="fas fa-pencil-alt mr-2"></i>
        <span>Edit</span>
      </button>
      <button
        onclick="shareSkatespot('${skatespot.id}'); return false;"
        class="${styles.buttonGrayIcon} pl-0"
      >
        <i class="fas fa-share mr-2"></i>
        <span>Share</span>
      </button>
    </div>`;
  }

  function updateSkatespotMarkers() {
    skatespotMarkers.forEach((marker) => {
      map.removeLayer(marker);
    });

    $skatespots.forEach((skatespot) => {
      const marker = L.marker([skatespot.lat, skatespot.lng], {
        id: skatespot.id,
        title: skatespot.title,
        icon: skatespotMarkerIcon,
        draggable: true,
        autoPan: true,
      })
      .addTo(map)
      .bindPopup(renderSkatespotMarkerPopup(skatespot));

      marker.dragging.disable();

      skatespotMarkers.push(marker);
    });
  }

  function handleMapClick(mapEvent) {
    if (isAddingSkatespot || isEditingSkatespot) {
      isAddingSkatespot = false;
      isEditingSkatespot = false;
      newSkatespot = null;
      editingSkatespot = null;
    } else {
      placeLocationMarker(mapEvent.latlng.lat, mapEvent.latlng.lng);
      openLocationMarkerPopup();
    }
  }

  window.editSkatespot = function editSkatespot(skatespotId) {
    const skatespot = find($skatespots, ['id', skatespotId]);

    if (skatespot) {
      isEditingSkatespot = true;
      editingSkatespot = skatespot;

      const skatespotMarker = find(skatespotMarkers, ['options.id', skatespot.id]);

      if (skatespotMarker) {
        skatespotMarker.setIcon(editingSkatespotMarkerIcon);
        skatespotMarker.dragging.enable();
      }

      resetMapSize(true);
    }
  }

  window.shareSkatespot = function shareSkatespot(skatespotId) {
    const skatespot = find($skatespots, ['id', skatespotId]);

    if (skatespot) {
      if (navigator.share) {
        navigator.share({
          url: skatespot.getGeoUrl(),
          text: skatespot.description || '',
          title: skatespot.title || '',
        });
      } else {
        window.open(skatespot.getOsmUrl(), '_blank');
      }
    }
  }

  window.createNewSkatespotAtMarker = function createNewSkatespotAtMarker() {
    if (locationMarker) {
      const latLng = locationMarker.getLatLng();
      createNewSkatespotAt(latLng.lat, latLng.lng);
      closeLocationMarkerPopup();
    }
  };

  function addSkatespot(data) {
    const skatespot = SkatespotModel(data);
    $skatespots = $skatespots.concat(skatespot);
    updateSkatespotMarkers();
  }

  function createNewSkatespotAt(lat, lng) {
    newSkatespot = SkatespotModel({
      lat: lat,
      lng: lng,
    });
    isAddingSkatespot = true;
    resetMapSize(true);
  }

  function handleNewSkatespotCreate(skatespot) {
    if (!isAddingSkatespot) {
      return;
    }

    if (locationMarker) {
      const latLng = locationMarker.getLatLng();

      addSkatespot({
        title: newSkatespot.title.trim(),
        description: newSkatespot.description.trim(),
        lat: latLng.lat,
        lng: latLng.lng,
      });

      clearLocationMarker();
    }

    // reset state
    isAddingSkatespot = false;
    newSkatespot = null;
  }

  function handleNewSkatespotCreateCancel() {
    isAddingSkatespot = false;
    newSkatespot = null;
    resetMapSize();
  }

  function handleSkatespotEditCancel(skatespot) {
    isEditingSkatespot = false;
    editingSkatespot = null;

    const skatespotMarker = find(skatespotMarkers, ['options.id', skatespot.id]);

    if (skatespotMarker) {
      skatespotMarker.setIcon(skatespotMarkerIcon);
      skatespotMarker.dragging.disable();
    }

    resetMapSize();
  }

  function handleSkatespotUpdate(skatespot) {
    $skatespots = $skatespots;
    updateSkatespotMarkers();

    // reset state
    isEditingSkatespot = false;
    editingSkatespot = null;
  }

  function handleSkatespotDelete(skatespot) {
    const skatespotIndex = findIndex($skatespots, ['id', skatespot.id]);

    if (skatespotIndex !== -1) {
      $skatespots.splice(
        skatespotIndex, 1
      );
      $skatespots = $skatespots;

      updateSkatespotMarkers();
    }

    // reset state
    isEditingSkatespot = false;
    editingSkatespot = null;
  }

  function resetMapSize(centerViewOnMarker) {
    setTimeout(() => {
      map.invalidateSize();

      if (centerViewOnMarker) {
        if (isEditingSkatespot && editingSkatespot.id) {
          const skatespotMarker = find(skatespotMarkers, ['options.id', editingSkatespot.id]);
          if (skatespotMarker) {
            // sets the view of the map
            map.setView(skatespotMarker.getLatLng(), map.getZoom(), {
              animate: true,
            });
          }
        } else if (locationMarker) {
          // sets the view of the map
          map.setView(locationMarker.getLatLng(), map.getZoom(), {
            animate: true,
          });
        }
      }
    }, 100);
  }
</script>

<div class="absolute inset-0 flex flex-col items-stretch justify-items-stretch z-0">
  <div id="skatespots-map" class="bg-gray-300 flex-grow"></div>
  {#if isAddingSkatespot || isEditingSkatespot}
  <div class="relative w-full h-1/2 bg-white shadow z-10 border-t border-gray-300 overflow-auto">
    <Skatespot
      skatespot={isAddingSkatespot ? newSkatespot : editingSkatespot}
      isNew={isAddingSkatespot}
      isEditing={isEditingSkatespot}
      onCreate={handleNewSkatespotCreate}
      onCreateCancel={handleNewSkatespotCreateCancel}
      onUpdate={handleSkatespotUpdate}
      onDelete={handleSkatespotDelete}
      onEditCancel={handleSkatespotEditCancel}
    />
  </div>
  {/if}
</div>

