<script>
  import { flashMessages } from '../stores.js';
  import styles from '../styles.js';

  const messageClass = {
    info: 'bg-blue-200 text-blue-700',
    warning: 'bg-yellow-200 text-yellow-700',
    danger: 'bg-red-200 text-red-700',
    success: 'bg-green-200 text-green-700',
  }
</script>

{#if $flashMessages.length}
<ul class="fixed bottom-2 left-2 right-2 z-50">
  {#each $flashMessages as message (message.id)}
  <li class="relative rounded-md {messageClass[message.type]} p-4">
    <div class="prose">
      {@html message.body}
    </div>

    <button
      class="{styles.buttonGrayIcon} absolute top-2 right-2"
      title="Dismiss"
      on:click={message.destroy}
    >
      <i class="fas fa-times"></i>
    </button>
  </li>
  {/each}
</ul>
{/if}
