<script>
  export let icon;
  export let route;
  export let onClick = () => {};
</script>

<a
  class="text-gray-300 hover:bg-gray-700 hover:text-white group flex items-center px-2 py-2 text-base font-medium rounded-md w-full"
  href="#{route}"
  on:click={onClick}
>
  {#if icon}<i class="text-gray-300 mr-4 flex-shrink-0 fas fa-{icon} text-center w-4"></i>{/if} <slot></slot>
</a>
