<script>
  import {
    partial,
  } from 'lodash';
  import styles from '../styles.js';

  export let skatespot;
  export let isNew = false;
  export let onDelete = function () {};
  export let onUpdate = function () {};
  export let onCreate = function () {};
  export let onCreateCancel = function () {};
  export let onEditCancel = function () {};

  let newSkatespotTitle = skatespot.title || '';
  let newSkatespotDescription = skatespot.description || '';

  function handleDeleteButton() {
    if (confirm('Delete this skatespot?')) {
      onDelete(skatespot);
    }
  }

  function handleEditSubmit() {
    skatespot.title = newSkatespotTitle;
    skatespot.description = newSkatespotDescription;
    isNew ? onCreate(skatespot) : onUpdate(skatespot);
  }

  function handleToggleEditing() {
    isNew ? onCreateCancel(skatespot) : onEditCancel(skatespot);
  }
</script>

<div class="relative px-4 py-4">
  <p class="${styles.prose} text-sm opacity-70 mb-4">
    Drag the marker to move it around.
  </p>
  <form class="mb-8" on:submit={handleEditSubmit}>
    <div class="flex items-center flex-wrap mb-4">
      <label for="skatespot-{skatespot.id}-title" class="{styles.label} mr-2 mb-2 w-20"> Title </label>
      <input
        id="skatespot-{skatespot.id}-title"
        class="{styles.input} mr-2"
        type="text"
        required
        bind:value={newSkatespotTitle}
      />
    </div>

    <div class="flex items-center flex-wrap mb-4">
      <label for="skatespot-{skatespot.id}-description" class="{styles.label} mr-2 mb-2 w-20"> Description </label>
      <textarea
        id="skatespot-{skatespot.id}-description"
        class="{styles.input} mr-2"
        bind:value={newSkatespotDescription}
      ></textarea>
    </div>

    <div class="flex">
      <button
        type="submit"
        class="{styles.buttonPrimary} mr-4"
      >
        {isNew ? 'Create' : 'Update'}
      </button>

      <button
        type="button"
        class="{styles.buttonSecondary}"
        on:click={handleToggleEditing}
      >
        Cancel
      </button>
    </div>
  </form>

  {#if !isNew}
  <button
    class="absolute top-2 right-1 {styles.buttonGrayIcon}"
    type="button"
    title="Delete Skatespot"
    on:click={handleDeleteButton}
  >
    <i class="fas fa-trash"></i>
  </button>
  {/if}
</div>
