<script>
  import { isNaN } from 'lodash';
  import { tricks } from '../stores.js';
  import styles from '../styles.js';
  import TrickModel from '../models/Trick.js';
  import Trick from './Trick.svelte';

  export let trickGroup;
  export let compact = false;
  export let isNew = false;
  export let isAddingTrick = false;
  export let onDelete = function () {};
  export let onUpdate = function () {};
  export let onCreate = function () {};
  export let onCreateCancel = function () {};
  export let onTrickUpdate = function () {};
  export let onTrickDelete = function () {};
  export let onAddTrick = function () {};

  let isEditing = isNew || false;
  let newTrickGroupName = trickGroup.name || '';
  let trickGroupProgress = trickGroup.getTricksProgress();
  let trickGroupTricks = trickGroup.getTricks();

  function handleDeleteButton() {
    if (confirm('Delete this trick group?')) {
      onDelete(trickGroup);
    }
  }

  function handleToggleExpand(event) {
    trickGroup.isExpanded = event.target.open;
    onUpdate(trickGroup);
  }

  function handleToggleEditing() {
    isEditing = !isEditing;
    if (isEditing) {
      newTrickGroupName = trickGroup.name;
    }
    if (isNew) {
      onCreateCancel(trickGroup);
    }
  }

  function handleEditSubmit() {
    isEditing = false;
    trickGroup.name = newTrickGroupName;
    isNew ? onCreate(trickGroup) : onUpdate(trickGroup);
  }

  function handleAddTrickButton() {
    onAddTrick(trickGroup);
  }

  tricks.subscribe(() => {
    trickGroupProgress = trickGroup.getTricksProgress();
    trickGroupTricks = trickGroup.getTricks();
  });
</script>

<div class="relative px-2 rounded-md border border-gray-300 {compact ? 'pt-4 pb-0 mt-4' : 'py-4 mt-8'} bg-gray-200">
  {#if isEditing}
  <form class="relative mb-8 z-10" on:submit={handleEditSubmit}>
    <div class="flex items-center mb-4 mr-20">
      <label for="trick-{trickGroup.id}-name" class="{styles.label} mr-2 w-10">Name</label>
      <input
        id="trick-{trickGroup.id}-name"
        class="{styles.input} mr-2"
        type="text"
        autofocus
        bind:value={newTrickGroupName}
      />
    </div>
    <div class="flex">
      <button
        type="submit"
        class="{styles.buttonPrimary} mr-4"
      >
        {isNew ? 'Create' : 'Update'}
      </button>

      <button
        type="button"
        class="{styles.buttonSecondary}"
        on:click={handleToggleEditing}
      >
        Cancel
      </button>
    </div>
  </form>
  {:else}
  <div class="flex justify-between items-center { compact && !isEditing ? '' :'mb-4' } mr-16">
    <h3 class="font-semibold flex items-start">
      <div
        class="{styles.buttonGrayIcon} p-4 -mt-2 -ml-2 mr-2 cursor-move"
        data-role="drag-handle"
      >
        <i class="fas fa-grip-vertical pointer-events-none"></i>
      </div>
      <div class="mt-2 mr-4 text-xl leading-none">
        {trickGroup.name}
      </div>
    </h3>
  </div>
  {/if}

  {#if !isNew}
  <div class="absolute top-4 right-1 flex items-center z-0">
    <button
        class="{styles.buttonGrayIcon} mr-4"
        on:click={handleToggleEditing}
      >
        <i class="fas fa-pencil-alt"></i>
      </button>

      <button
        class="{styles.buttonGrayIcon}"
        type="button"
        title="Delete Trick Group"
        on:click={handleDeleteButton}
      >
        <i class="fas fa-trash"></i>
      </button>
  </div>
  {/if}

  {#if !isNew}
  <details
    open={trickGroup.isExpanded}
    class="mb-4"
    on:toggle={handleToggleExpand}
  >
    <summary class="mb-4 pl-2 cursor-pointer relative">
      {trickGroupTricks.length} { trickGroupTricks.length === 1 ? 'Trick' : 'Tricks' }
      <div class="absolute top-0 right-0">Progress {isNaN(trickGroupProgress) ? 0 : Math.round(trickGroupProgress * 100)}%</div>
    </summary>

    {#if !isAddingTrick}
    <button
      type="button"
      class="{styles.buttonSecondary} mb-4"
      on:click={handleAddTrickButton}
    >
      <i class="fas fa-plus mr-4" />
      <span>Add Trick</span>
    </button>
    {/if}

    <ul
      data-role="trick-list"
      data-trick-group-id={trickGroup.id}
      class="{ trickGroupTricks.length ? '' : 'py-4 px-2 border border-dashed border-gray-500 rounded-md' }"
    >
      {#each trickGroupTricks as trick (trick.id)}
      <li
        class="{ compact ? 'mb-2' : 'mb-8' }"
        data-role="trick"
        data-id={trick.id}
      >
        <Trick
          {trick}
          compact={compact}
          onDelete={onTrickDelete}
          onUpdate={onTrickUpdate}
        />
      </li>
      {/each}
    </ul>
  </details>
  {/if}
</div>
