<script>
  import {
    partial,
    sortBy,
    reverse,
  } from 'lodash';
  import styles from '../styles.js';
  import { knownSkatetricks, trickGroups } from '../stores.js';

  export let trick;
  export let compact = false;
  export let isNew = false;
  export let onDelete = function () {};
  export let onUpdate = function () {};
  export let onCreate = function () {};
  export let onCreateCancel = function () {};

  let isAddingLink = false;
  let isEditing = isNew || false;
  let newTrickStance = trick.stance || '';
  let newTrickName = trick.name || '';
  let newTrickGroup = trick.groupId || '';
  let newLink = '';

  function handleAddLinkButton() {
    isAddingLink = true;
  }

  function handleCancelAddLinkButton() {
    newLink = '';
    isAddingLink = false;
  }

  function handleAddLinkSubmit() {
    if (!isAddingLink) {
      return;
    }

    trick.links = trick.links.concat(newLink);

    newLink = '';
    isAddingLink = false;

    onUpdate(trick);
  }

  function handleDeleteLink(link) {
    if (confirm('Delete this link?')) {
      const linkIndex = trick.links.indexOf(link);

      if (linkIndex !== -1) {
        trick.links.splice(linkIndex, 1);
        trick.links = trick.links;
        onUpdate(trick);
      }
    }
  }

  function handleDeleteButton() {
    if (confirm('Delete this trick?')) {
      onDelete(trick);
    }
  }

  function handleProgressChange() {
    onUpdate(trick);
  }

  function handleNotesChange() {
    onUpdate(trick);
  }

  function handleToggleExpand(event) {
    trick.isExpanded = event.target.open;
    onUpdate(trick);
  }

  function handleToggleEditing() {
    isEditing = !isEditing;
    if (isEditing) {
      newTrickStance = trick.stance;
      newTrickName = trick.name;
      newTrickGroup = trick.groupId;
    }
    if (isNew) {
      onCreateCancel(trick);
    }
  }

  function handleEditSubmit() {
    isEditing = false;
    trick.stance = newTrickStance;
    trick.name = newTrickName;
    trick.groupId = newTrickGroup;
    isNew ? onCreate(trick) : onUpdate(trick);
  }
</script>

<div class="{styles.card} relative px-4 py-2">
  {#if isEditing}
  <form class="relative mb-8 z-10" on:submit={handleEditSubmit}>
    <div class="flex items-center flex-wrap mb-2">
      <label for="trick-{trick.id}-stance" class="{styles.label} mr-2 mb-2 w-10">Stance</label>
      <select
        id="trick-{trick.id}-stance"
        class="{styles.input} mr-4"
        bind:value={newTrickStance}
      >
        {#each $knownSkatetricks.stances as stance}
          <option value={stance}>{stance}</option>
        {/each}
      </select>
    </div>

    <div class="flex items-center flex-wrap mb-4">
      <label for="trick-{trick.id}-name" class="{styles.label} mr-2 mb-2 w-10"> Name </label>
      <input
        id="trick-{trick.id}-name"
        class="{styles.input} mr-2"
        type="text"
        list="{trick.id}-skatetricks"
        bind:value={newTrickName}
      />
      {#if isEditing}
      <datalist id="{trick.id}-skatetricks">
        {#each $knownSkatetricks.tricks as trick}
          <option value={trick} />
        {/each}
      </datalist>
      {/if}
    </div>

    {#if $trickGroups.length}
    <div class="flex items-center flex-wrap mb-4">
      <label for="trick-{trick.id}-group" class="{styles.label} mr-2 mb-2 w-10">Group</label>
      <select
        id="trick-{trick.id}-group"
        class="{styles.input} mr-4"
        bind:value={newTrickGroup}
      >
      <option value="">- none -</option>
        {#each reverse(sortBy($trickGroups, ['sortOrder'])) as trickGroup}
          <option value={trickGroup.id}>{trickGroup.name}</option>
        {/each}
      </select>
    </div>
    {/if}

    <div class="flex">
      <button
        type="submit"
        class="{styles.buttonPrimary} mr-4"
      >
        {isNew ? 'Create' : 'Update'}
      </button>

      <button
        type="button"
        class="{styles.buttonSecondary}"
        on:click={handleToggleEditing}
      >
        Cancel
      </button>
    </div>
  </form>
  {:else}
  <div class="flex justify-between items-center { compact && !isEditing ? '' :'mb-4' } mr-20">
    <h3 class="font-semibold flex items-start">
      <div
        class="{styles.buttonGrayIcon} p-4 -mt-2 -ml-2 mr-2 cursor-move"
        data-role="drag-handle"
      >
        <i class="fas fa-grip-vertical pointer-events-none"></i>
      </div>
      <div class="mt-2 mr-4">
        {#if trick.stance !== 'Regular' }{trick.stance} {/if}{trick.name}
      </div>
    </h3>
  </div>
  {/if}

  <div class="absolute top-2 right-1 flex items-center z-0">
    <button
        class="{styles.buttonGrayIcon} mr-2"
        on:click={handleToggleEditing}
      >
        <i class="fas fa-pencil-alt"></i>
      </button>

      <label for="trick-{trick.id}-progress" class="mr-2">
        <span class="hidden sm:inline">Progress</span> {Math.round(trick.progress * 100)}%
      </label>

      {#if !isNew}
      <button
        class="{styles.buttonGrayIcon}"
        type="button"
        title="Delete Trick"
        on:click={handleDeleteButton}
      >
        <i class="fas fa-trash"></i>
      </button>
      {/if}
  </div>

  {#if !compact || isEditing}
  <div class="mb-4">
    <input
      id="trick-{trick.id}-progress"
      class="w-full"
      type="range"
      min="0"
      max="1"
      step="0.05"
      disabled={!isEditing}
      bind:value={trick.progress}
      on:change={handleProgressChange}
    />
  </div>

  {#if !isNew}
  <details
    open={trick.isExpanded}
    class="mb-4"
    on:toggle={handleToggleExpand}
  >
    <summary class="mb-4 border-b border-gray-300 pb-2 cursor-pointer">
      Details
    </summary>

    <h4 class="mb-4 font-semibold text-gray-500">Links</h4>
    <ul>
      {#each trick.links as link, index}
      <li class="relative flex items-center mb-4">
        <a
          href={link}
          target="link-{index}"
          class="text-ellipsis overflow-hidden text-blue-500 hover:underline focus:underline flex-grow whitespace-nowrap"
        >
          {link}
        </a>

        <button
          class={styles.buttonGrayIcon}
          type="button"
          title="Delete Link"
          on:click={partial(handleDeleteLink, link)}
        >
          <i class="fas fa-trash"></i>
        </button>
      </li>
      {/each}
    </ul>

    {#if isAddingLink}
    <form class="mb-4" on:submit={handleAddLinkSubmit}>
      <label
        for="new-trick-link"
        class="{styles.label} mb-2"
      >
        URL
      </label>

      <input
        id="new-trick-link"
        class="{styles.input} w-full mb-2"
        type="url"
        autofocus
        bind:value={newLink}
      />

      <button
        type="submit"
        class={styles.buttonPrimary}
      >
        Add Link
      </button>
    </form>
    {/if}

    <div class="relative mb-4">
      <div class="absolute inset-0 flex items-center" aria-hidden="true">
        <div class="w-full border-t border-gray-300" />
      </div>
      <div class="relative flex justify-center">
        {#if !isAddingLink}
        <button
          type="button"
          class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          on:click={handleAddLinkButton}
        >
          <i class="relative top-1 -ml-1.5 mr-1 h-5 w-5 text-gray-400 fas fa-plus" />
          <span>Add Link</span>
        </button>
        {:else}
        <button
          type="button"
          class="inline-flex items-center shadow-sm px-4 py-1.5 border border-gray-300 text-sm leading-5 font-medium rounded-full text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
          on:click={handleCancelAddLinkButton}
        >
          <i class="relative top-1 -ml-1.5 mr-1 h-5 w-5 text-gray-400 fas fa-times" />
          <span>Cancel</span>
        </button>
        {/if}
      </div>
    </div>

    <div>
      <label
        for="trick-{trick.id}-notes"
        class="{styles.label} block mb-2"
      >
        Notes
      </label>
      <textarea
        id="trick-{trick.id}-notes"
        class="{styles.input} w-full"
        bind:value={trick.notes}
        on:change={handleNotesChange}
      ></textarea>
    </div>
  </details>
  {/if}
  {/if}
</div>
