<script>
  import { whatsNew } from '../stores.js';
  import styles from '../styles.js';
  let isClosed = false;

  function handleCloseButton() {
    isClosed = true;
  }
</script>

{#if $whatsNew && !isClosed}
<div class="fixed flex items-center content-center inset-0 z-50 bg-black bg-opacity-50 p-4">
  <div class="{styles.card} flex flex-col items-stretch max-w-6xl mx-auto p-4 max-h-full">
    <div class="flex-grow overflow-auto">
      <h2 class="{styles.h2} mb-8">
        Whats new?
      </h2>
      <div class="prose">
        {@html $whatsNew}
      </div>
    </div>
    <footer class="flex items-end pt-4">
      <button
        class="{styles.buttonPrimary} ml-auto"
        on:click={handleCloseButton}
      >
        OK
      </button>
    </footer>
  </div>
</div>
{/if}
