<script>
  import { trimEnd, trimStart } from 'lodash';
  import Sidebar from './components/Sidebar.svelte';
	import SidebarItem from './components/SidebarItem.svelte';
	import SearchForm from './components/SearchForm.svelte';
  import Home from './pages/Home.svelte';
  import Settings from './pages/Settings.svelte';
  import Skatespots from './pages/Skatespots.svelte';
  import About from './pages/About.svelte';
  import WhatsNew from './components/WhatsNew.svelte';
  import FlashMessages from './components/FlashMessages.svelte';
  import { search } from './stores.js';

  let sidebarOpen = false;
  let currentRoute = '/';

  function closeSidebar() {
    sidebarOpen = false;
  }
  function openSidebar() {
    sidebarOpen = true;
  }

  function isRoute(currentRoute, route) {
    return currentRoute.indexOf(route) === 0;
  }

  function handleHashChange() {
    const route = trimEnd(
      trimStart(window.location.hash, '#') || '/', '/'
    );

    // clear search as it is context based
    $search = '';

    currentRoute = route;
  }

  window.addEventListener('hashchange', handleHashChange);

  handleHashChange();
</script>

<Sidebar open={sidebarOpen} onClose={closeSidebar}>
  <span slot="mobile-items">
    <SidebarItem route="/" icon="home" onClick={closeSidebar}>
      My Tricks
    </SidebarItem>
    <SidebarItem route="/skatespots" icon="map" onClick={closeSidebar}>
      My Skatespots
    </SidebarItem>
    <SidebarItem route="/settings" icon="cogs" onClick={closeSidebar}>
      Settings
    </SidebarItem>
    <SidebarItem route="/about" icon="question" onClick={closeSidebar}>
      About
    </SidebarItem>
  </span>

  <span slot="desktop-items">
    <SidebarItem route="/" icon="home" onClick={closeSidebar}>
      My Tricks
    </SidebarItem>
    <SidebarItem route="/skatespots" icon="map" onClick={closeSidebar}>
      My Skatespots
    </SidebarItem>
    <SidebarItem route="/settings" icon="cogs" onClick={closeSidebar}>
      Settings
    </SidebarItem>
    <SidebarItem route="/about" icon="question" onClick={closeSidebar}>
      About
    </SidebarItem>
  </span>
</Sidebar>

<WhatsNew />
<FlashMessages />

<div class="md:pl-64 flex flex-col items-stretch h-full">
  <div class="sticky top-0 z-10 flex-shrink-0 flex h-16 bg-white shadow">
    <button
      type="button"
      class="px-4 border-r border-gray-200 text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500 md:hidden"
      on:click={openSidebar}
    >
      <span class="sr-only">Open sidebar</span>
      <i class="h-6 w-6 fas fa-bars"></i>
    </button>

    <div class="flex-1 px-4 flex justify-between">
      <div class="flex-1 flex">
        <SearchForm />
      </div>
      <div class="ml-4 flex items-center md:ml-6">
        <!-- Profile dropdown -->
      </div>
    </div>
  </div>

  <main class="flex-1 pb-24 bg-gray-100 relative flex-grow">
    <div class="py-6">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 md:px-8">
        {#if isRoute(currentRoute, '/skatespots') }
        <Skatespots />
        {:else if isRoute(currentRoute, '/settings') }
        <Settings />
        {:else if isRoute(currentRoute, '/about') }
        <About />
        {:else}
        <Home />
        {/if}
      </div>
    </div>
  </main>
</div>
